:root {
  --headerPadding: 0 3rem;
  --buttonFontSize: 1rem;
  --headerButtonPadding: 1rem 2rem;
  --headerButtonMargin: 10px;
  --section1Width: 1200px;
  --section1LeftWidth: 50%;
  --secionLeftFontSize: 3rem;
  --section1RightWidth: 50%;
  --section1ContainerPadding: 0 1rem;
  --section1ContainerMargin: 0 2rem;
  --section2Margin: 0 0 3rem 0;
  --section2ContainerWidth: 90%;
  --section2ContainerPadding: 2.5rem 0 0 0;
  --section2ContainerGap: 2%;
  --section2ContainerButtonPadding: 1rem;
  --itemWidth: 30%;
  --itemMinHeight: 30rem;
  --itemInfoWidth: 100%;
  --itemInfoPadding: 1rem;
  --imgGrpWidth: 54%;
  --childEvenMaxHeight: 300px;
  --childEvenMaxWidth: 55%;
  --childOddMaxHeight: 260px;
  --childOddMaxWidth: 45%;
  --section3Margin: 2rem 0 0 0;
  --emailPadding: 0.3rem 1rem;
  --bgPadding: 8rem 10rem;
}

* {
  font-family: "Merriweather", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ebf2ff;
  margin: 0;
  color: #1d3557;
}

/* Utility Classes */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red ; */
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--buttonFontSize);
  font-weight: bold;
}

.buttonPrimary {
  padding: var(--headerButtonPadding);
  margin: var(--headerButtonMargin);
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
}

.buttonPrimary:hover {
  background-position: right;
}

h1,
h2,
p {
  margin: 0;
}

p > span {
  color: red;
}

/* header */
header.flex {
  padding: var(--headerPadding);
  justify-content: space-between;
  background-color: #f9fafc;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

header img {
  width: 100px;
}

/* section1 */
.section1 {
  margin: auto;
  border-color: green;
  width: var(--section1Width);
}

/* section1 Container */
.section1 .container {
  position: relative;
  border-color: black;
  margin: var(--section1ContainerMargin);
}

/* section1 container left*/
.container .left {
  flex-direction: column;
  align-items: flex-start;
  width: var(--section1LeftWidth);
}

.left h1 {
  font-size: var(--secionLeftFontSize);
  line-height: 1;
  font-weight: 900;
  text-align: left;
}

/* section1 container left*/
.section1 .container .right {
  width: var(--section1RightWidth);
  position: relative;
}

.section1 .container .right img {
  width: 100%;
}

.section1 .container .right::after {
  content: "";
  position: absolute;
  background: url(../Assets/Images/header.jpg) no-repeat center center/cover;
  width: 100%;
  height: 75%;
  top: 35px;
  border-radius: 6px;
  box-shadow: 0 20px 20px -12px rgba(0, 0, 0, 0.25);
}

.section1 .container .right::before {
  content: "";
  position: absolute;
  background: url(../Assets/Images/header\ bg\ overlay.svg) no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* section2 */
.section2 {
  flex-direction: column;
  margin: var(--section2Margin);
}

/* section2 container*/
.section2 .container {
  flex-direction: column;
  width: var(--section2ContainerWidth);
  position: relative;
  align-items: center;
  padding: var(--section2ContainerPadding);
  gap: var(--section2ContainerGap);
}

.section2 .container:first-child::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3rem;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  z-index: -1;
  transform: skewY(-5deg);
}

.section2 .container h1 {
  font-size: var(--secionLeftFontSize);
}

.section2.flex .container > button {
  position: relative;
  top: 4rem;
  background-image: none;
  background-color: transparent;
  padding: var(--section2ContainerButtonPadding);
  transition: all 0.3s;
  cursor: pointer;
}

.section2.flex .container > button:hover {
  padding: 1rem 10rem;
  color: #dd2476;
  background-color: #ebf2ff;
}

/* section3 */
.section3.container {
  flex-direction: row;
  margin: var(--section3Margin);
}

.section3 .left.input {
  width: fit-content;
  padding: 2rem;
  justify-content: space-around;
}

/* item grp */
.item-grp {
  gap: 3rem;
}
.item-grp,
.threegrp {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item-grp div:nth-child(odd) {
  position: relative;
  top: 20px;
}

.item-grp div:nth-child(2) {
  position: relative;
}

/* item */
.item {
  flex-direction: column;
  width: var(--itemWidth);
  background-color: #ebf2ff;
  border-radius: 0.4rem;
  overflow: hidden;
  justify-content: flex-start;
}

.item img {
  width: 100%;
}

.item .info {
  align-items: flex-start;
  flex-direction: column;
  width: var(--itemInfoWidth);
  padding: var(--itemInfoPadding);
  text-align: left;
}

/* img-grp-container */
.img-grp-container {
  width: var(--imgGrpWidth);
  align-items: baseline;
  justify-content: space-evenly;
  flex-direction: column;
}

.child {
  width: 100%;
  align-items: flex-end;
  justify-content: space-evenly;
  gap: 0.5rem;
}

/* .child > div:nth-child(even),
.child > div:nth-child(even) > img{
  max-width: 300px;
  max-height: 260px;
} */

.child > div:nth-child(even) {
  width: var(--childEvenMaxWidth);
}

.child > div:nth-child(even) > img {
  max-height: var(--childEvenMaxHeight);
}

.child > div:nth-child(odd) {
  max-width: var(--childOddMaxWidth);
}

.child > div:nth-child(odd) > img {
  max-height: var(--childOddMaxHeight);
}

.img-grp-container .child:nth-child(even) {
  align-items: flex-start;
  flex-direction: row-reverse;
}

.img-grp img {
  width: 100%;
  border-radius: 5px;
}

/* section3 left */
.section4 {
  gap: 0 !important;
}

/* section4 */

input[type="email"] {
  width: 50%;
  padding: var(--emailPadding);
}

.section4 .top {
  width: var(--section2ContainerWidth);
  text-align: left;
}

/* bg-quote */
.bg-quote {
  color: white;
  padding: var(--bgPadding) !important;
  width: var(--bgWidth);
  border-radius: 20px;
  overflow: hidden;
  background-color: #0a416580;
  flex-wrap: wrap;
}

.bg-quote h2 {
    text-align: center;
  }

.bg-quote::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: url(../Assets/Images/bg.avif) no-repeat center center/cover;
  z-index: -1;
}

/* footer */
footer.flex {
  position: relative;
  background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
  justify-content: space-evenly;
}

footer img {
  width: 300px;
  filter: brightness(0) invert(1);
}

ul.flex {
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.5rem;
}

li {
  list-style: none;
  color: white;
  font-weight: bold;
}

@media (min-width: 600px) and (max-width: 1199px) {
  :root {
    --buttonFontSize: 0.8rem;
    --headerButtonPadding: 0.5rem 1rem;
    --section1ContainerPadding: 0;
    --section1LeftWidth: fit-content;
    --section1RightWidth: 100%;
    --secionLeftFontSize: 1.5rem;
    --headerPadding: 0;
    --section2ContainerWidth: 95%;
    --section2ContainerPadding: 3rem 0 0 0;
    --bgPadding: 6rem 0;
    --itemMinHeight: 20rem;
    --imgGrpWidth: 70%;
    --childEvenMaxWidth: 65%;
    --childOddMaxWidth: 35%;
    --childEvenMaxHeight: 180px;
    --section1Width: 100%;
    
  }

  .section1 {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .section1 .container {
    justify-content: space-between;
    width: 100%;
  }

  .bg-quote h2 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.2;
    font-weight: 500;
    margin: 0 1rem;
  }

  .bg-quote {
    border-radius: 15px;
  }
}

@media (max-width: 599px) {
  :root {
    --section1Width: 100%;
    --buttonFontSize: 0.6rem;
    --headerButtonPadding: 0.5rem 1rem;
    --section1ContainerPadding: 0 0.5rem;
    --section1RightWidth: 100%;
    --secionLeftFontSize: 0.8rem;
    --headerPadding: 0;
    --section1ContainerMargin: 0;
    --bgPadding: 3rem 0;
    --itemWidth: 100%;
    --section2ContainerButtonPadding: 0.5rem 1rem;
    --itemMinHeight: fit-content;
    --itemInfoPadding: 0.5rem;
    --section2ContainerGap: 15%;
    --imgGrpWidth: 100%;
    --section2Margin: 0;
    --section2ContainerPadding: 0;
    --section1LeftWidth: 100%;
  }

  .container {
    margin: 2rem;
  }

  .section1 {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .section1 .container {
    justify-content: space-between;
    flex-direction: column-reverse;
    padding: var(--section1ContainerPadding);
  }

  .container .left {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .section1 .container .left .buttonPrimary {
    width: 50%;
  }

  .bg-quote h2 {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.2;
    font-weight: 500;
    margin: 0 1rem;
  }

  .bg-quote {
    border-radius: 15px;
  }

  .threegrp {
    flex-direction: column;
  }

  .item-grp div:nth-child(odd) {
    position: static;
    /* top: 20px; */
  }

  .item-grp div:nth-child(2) {
    position: relative;
  }

  .section2 .container h1 {
    font-size: 1rem;
  }

  .section2 .container:first-child::after {
    position: static;
  }

  .item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: var(--itemMinHeight);
    margin: 0 0 1rem 0;
  }

  .section2.flex .container > button {
    position: static;
    background-color: transparent;
    padding: var(--section2ContainerButtonPadding);
    transition: all 0.3s;
    cursor: pointer;
    color: #1d3557;
    border: 2px solid red;
  }

  .section2.flex .container > button:hover {
    font-size: 1rem;
    padding: 1rem 4rem;
    color: white;
    background: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
  }

  footer.flex {
    flex-direction: column;
  }

  ul.flex {
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .section3.container {
    flex-direction: column;
  }

  .section3.container .left h1 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
  }

  .section4 .top.input {
    width: 100%;
    text-align: left;

  }

  input[type="email"] {
    width: fit-content;
}
}
